</main>
<footer class="page-footer green darken-3">
    <div class="container">
        <div class="row center-align">
            <div class="col s6">
                <h5 class="white-text">Cott Etsi</h5>
                <p class="grey-text text-lighten-4">Cottages allocator.</p>
                <p class="grey-text text-lighten-4">Find and rent affordable cottages.</p>
            </div>
            <div class="col s6 center-align">
                <!--<i class="material-icons">github</i>-->
                <a class="white-text text-underline" href="" target="_blank">Source code at <img style="transform: translateY(4px)" class="green darken-3" src="/images/icons/github-circle.svg" alt="github icon">GitHub</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            © 2019 Niko Pinnis
        </div>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.Sidenav.init(document.querySelectorAll('.sidenav'), {draggable: true});
        M.Carousel.init(document.querySelectorAll('.carousel'), {fullWidth: true,indicators:true,duration:400});
        M.Dropdown.init(document.querySelector(".dropdown-trigger"),{});
        M.FormSelect.init(document.querySelectorAll('select'), {});
    });
</script>
</body>
</html>