<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/materialize/css/materialize.css">
    <script src="/materialize/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
    <nav>
        <div class="nav-wrapper green darken-3">
            <a href="/" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/cottages">Cottages</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile">
        <li><a href="/cottages">Cottages</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
    </ul>


