
<% include ./partials/header.ejs %>

<div class="body-content">
    <h1 class="center-align">About this project</h1>
    <div >
        <p class="flow-text">Cott Etsi is a simple website for renting a cottage.</p>
        <p class="flow-text">It's built using <a href="https://nodejs.org/">nodejs</a>, <a href="https://expressjs.com/">express</a>, <a href="https://mongoosejs.com/">mongoose</a>, <a href="https://www.ejs.co/">ejs</a> on the backend.</p>
        <p class="flow-text">The frontend implements <a href="https://material.io/design/">Googles material design</a>  by using <a href="https://materializecss.com/">Materializecss</a></p>
    </div>
</div>

<% include ./partials/footer.ejs %>