
<% include ./partials/header.ejs %>

<div class="body-content">
    <h1 class="center-align">About this project</h1>
    <div >
        <p class="flow-text">Cott Etsi is a simple website for renting a cottage.</p>
        <p class="flow-text">It's built using <a href="https://nodejs.org/" target="_blank">nodejs</a>, <a href="https://expressjs.com/" target="_blank">express</a>, <a href="https://mongoosejs.com/" target="_blank">mongoose</a>, <a href="https://www.ejs.co/" target="_blank">ejs</a> on the backend.</p>
        <p class="flow-text">The frontend implements <a href="https://material.io/design/" target="_blank">Googles material design</a>  by using <a href="https://materializecss.com/" target="_blank">Materializecss</a></p>
    </div>
</div>

<% include ./partials/footer.ejs %>