:root {
    --desktop-width: 70%;
    --mobile-width: 90%;
    --desktop-breakpoint: 993px;
}

body {
    /*padding: 0;*/
    /*margin: 0;*/
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-bottom: 200px;
}

nav,
footer {
    width: 100%;
    margin: auto;
}
.cottages-content {
    width: var(--mobile-width);
    margin: auto;
}

.flash-content{
    margin: auto;
    width: var(--mobile-width);
}
.form-content{
    margin: auto;
    width: var(--mobile-width);
}
.body-content{
    margin: auto;
    width: var(--mobile-width);
}

nav {
    min-height: 80px;
}

.brand-logo, .sidenav-trigger {
    font-size: 3rem;
}

@media only screen and (min-width: 993px ){
    body {
        font-size: 14px;
    }
    nav,
    footer,
    .cottages-content{
        width: var(--desktop-width);
    }
    nav {
        min-height: 60px;
    }
    footer {
        /*position: fixed;*/
        bottom: 0;
        margin: auto;
        text-align: center;
    }
    .flash-content{
        margin: auto;
        width: var(--desktop-width);
    }
    .form-content{
        margin: auto;
        width: var(--desktop-width);
    }
    .body-content{
        margin: auto;
        width: var(--desktop-width);
    }
    .dropdown-mover {
        top: -64px;
        left: 10px;
    }
    .dropdown-sizer {
        min-width: 117px;
    }
}

#mobile a {
    font-size: 2rem;
}
#mobile li {
    margin-bottom: 10px;
}

footer {
    /*position: fixed;*/
    bottom: 0;
    margin: auto;
}
