<% include ../partials/header.ejs %>

<div class="body-content">
    <form method="post">
        <label for="reservasion-day">Select day</label>
        <input type="text" class="datepicker" name="reservasionDay">
        <input class="btn green darken-3 white-text" type="submit">
    </form>
</div>

<script>
    var elems;
    var instances;
    const reservedDays = function(day){
        // console.log(day);
        let testDay = new Date(2019,1,10);
        // console.log(testDay);
         // return day === new Date(Date.now() + 3600 * 24 * 1000);
        // console.log(day.toLocaleString() === testDay.toLocaleString());
         return day.toLocaleString() === testDay.toLocaleString();
    }
    document.addEventListener('DOMContentLoaded', function() {
        elems = document.querySelectorAll('.datepicker');
        instances = M.Datepicker.init(elems, {
            minDate: new Date(),
            yearRange: 1,
            setDefaultDate: true,
            defaultDate: new Date(),
            disableDayFn: reservedDays
        });
        instances[0].setDate(new Date());
});
</script>

<% include ../partials/footer.ejs %>