<% include ../partials/header.ejs %>

<div class="body-content">
    <h3 class="center-align">Manage users</h3>
    <ul class="collection">
        <% users.forEach((user)=>{ %>
            <a href="/users/<%= user.id %>/show" class="collection-item">
                <span class="badge">Reservations: <%= user.reservations.length %></span>
                <%= user.username %>
            </a>
        <% }); %>
    </ul>
</div>

<% include ../partials/footer.ejs %>